{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}
{{user.name ~ ' ' ~ user.surname}}
{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	{% if is_granted('ROLE_ADMIN') %}
 	<li><a href="{{path('renovate_users')}}">Менеджмент користувачів</a></li>
 	{% endif %}
 	<li class="active">{{user.name ~ ' ' ~ user.surname}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<ul>
		  <li><strong>П.І.П.:</strong> {{user.surname~' '~user.name~' '~user.patronymic}}</li>
		  <li><strong>Номер договору:</strong> {{(user.contract)?user.contract:'-'}}</li>
		  <li><strong>Дата реєстрації:</strong> {{user.registered|date("d.m.Y")}}</li>
		  <li><strong>Номер телефону:</strong> {{user.mobilephone}}</li>
		  <li><strong>E-Mail:</strong> {{user.email}}</li>
		  <li><strong>Адреса:</strong> {{user.address}}</li>
		  <li><strong>Баланс:</strong> 0 грн.</li>
		</ul>	
	</div>
</div>
{% endblock %} 

{% block javascripts %}
{% endblock %}