{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}{{share.name}}{% endblock %}
{% block description %}<meta name="description" content="{{share.description}}">{% endblock %}
{% block head %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li><a href="{{path('renovate_shares')}}">Акції</a></li>
 	<li class="active">{{share.name}}</li>
</ol>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
  				<h2>{{share.name}}</h2><hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="data-content">
				<div class="col-md-4">
					<img src="{{asset(share.document.path)}}" alt="{{share.name}}" class="img-thumbnail">
				</div>
				<div class="text-justify">{{share.description | raw}}</div>
			</div>
		</div>
	</div>
{% endblock %} 

{% block javascripts %}
{% endblock %}