{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}
{% if page and page.title != '' %}{{page.title}}{% else %}{{news.name}}{% endif %}
{% endblock %}

{% block keywords %}
	{% if page and page.keywords != '' %}
		<meta name="keywords" content="{{page.keywords}}">
	{% endif %}
{% endblock %}

{% block description %}
	{% if page and page.description != '' %}
		<meta name="description" content="{{page.description}}">
	{% else %}
		<meta name="description" content="{{news.description | striptags | slice(0, 300)}}">
	{% endif %}
{% endblock %}

{% block head %}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
{% endblock %}

{% block social %}<meta name="og:image" content="{{asset(news.document.path)}}"/>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li><a href="{{path('renovate_news')}}">Новини</a></li>
 	<li class="active">{{news.name}}</li>
</ol>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-2" style="margin-top: 5px;">
			<!-- VK -->
			<div id="vk_like" class="vk" content-title="{{news.getName()}}"></div>
		</div>
		<div class="col-md-2" style="margin-top: 5px;">
			<!-- FB -->
			<div class="fb-share-button" data-href="{{ app.request.uri }}" data-layout="button_count"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
  				<h2>{{news.name}}</h2>
  				<p>{{news.created|date("d.m.Y H:i")}}</p>
  				<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="data-content">
				<div class="col-md-4">
					<img src="{{asset(news.document.path)}}" alt="{{news.name}}" class="img-thumbnail">
				</div>
				<div class="text-justify">{{news.description | raw}}</div>
			</div>
		</div>
	</div>
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('bundles/renovate/js/vkButton.js') }}"></script>
<script src="{{ asset('bundles/renovate/js/fbButton.js') }}"></script>
{% endblock %}