{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}{{news.name}}{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li><a href="{{path('renovate_news')}}">Новини</a></li>
 	<li class="active">{{news.name}}</li>
</ol>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
  				<h2>{{news.name}}</h2><hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="data-content">
				<div class="col-md-4">
					<img src="{{asset(news.document.path)}}" alt="{{news.name}}" class="img-thumbnail">
				</div>
				<div class="text-justify">{{news.description | raw}}</div>
			</div>
		</div>
	</div>
{% endblock %} 

{% block javascripts %}
{% endblock %}