<!DOCTYPE html>
<html lang="ua">
  <head>
  	<style>
  		table {
  			border-collapse: collapse;
  			border-left: 1px solid black;
  			width: 1000px;
  			margin: 0 auto;
  			font-size: 12px;
  		}
  		
  		table.estimation {
  			border-top: 1px solid black;
  		}
  		
  		td,th {
  			padding-left: 5px;
  			padding-right: 5px;
  			border-right: 1px solid black;
  			border-bottom: 1px solid black;
  		}
  		th.thin {
  			width: 50px;
  		}
  	</style>
  </head>
  <body>
  	<table class="estimation">
  		<tbody>
	        <tr>
	          <td>Дата: <strong>{{estimation.updated|date("d.m.Y")}}</strong></td>
	          <td>Кошторис <strong>№{{estimation.id}}</strong></td>
	        </tr>
   		</tbody>
  	</table>
  	<table>
  		<tbody>
	        <tr>
	        	<td>Замовник: <strong>{{estimation.customer}}</strong></td>
	        </tr>
	        <tr>
	        	<td>Виконавець: <strong>{{estimation.performer}}</strong></td>
	        </tr>
	    </tbody>
	</table>
	<table>
  		<tbody>
	        <tr>
	        	<td>Вартість робіт: <strong>{{estimation.getWorksAmount()}} грн.</strong></td>
	        	<td>Вартість матеріалів: <strong>{{estimation.getMaterialsAmount()}} грн.</strong></td>
	        	<td>Загальна сума: <strong>{{estimation.getTotalAmount()}} грн.</strong></td>
	        </tr>
	    </tbody>
	</table>
 	<table>
 		<thead>
	        <tr>
	          <th class="thin">№</th>
	          <th>Назва статті витрат</th>
	          <th class="thin">Од. виміру</th>
	          <th class="thin">Ціна, грн</th>
	          <th class="thin">Кількість</th>
	          <th class="thin">Сума, грн</th>
	        </tr>
   		</thead>
   		{% for category in estimation.getCostCategories() %}
   		<tbody>
   			<tr>
   				<td colspan="6"><strong>{{(category.name == 'works') ? 'Роботи' : 'Матеріали'}}</strong></td>
          	</tr>
   			{% for item in category.items %}
   			<tr>
   				<th>{{loop.index}}</th>
   				<td>{{item.getName()}}</td>
   				<td>{{item.getUnits()}}</td>
   				<td>{{item.getPrice()}}</td>
   				<td>{{item.getCount()}}</td>
   				<td>{{item.getTotal()}}</td>
          	</tr>
          	{% endfor %}
   		</tbody>
   		{% endfor %}
 	</table>
  </body>
</html>