{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Контакти{% endblock %}

{% block head %}
<link href="{{ asset('bundles/renovate/css/contacts.css') }}" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<address>
		  <strong>ТОВ "RENOVATE"</strong><br>
		  вул. Швабська, буд. 65<br>
		  Ужгород, 88000<br>
		  Офіс: (0312) 65-43-12
		</address>
		
		<address>
		  <strong>Відділ кадрів</strong><br>
		  +38 099 944 4061
		</address>
		
		<address>
		  <strong>Наш e-mail</strong><br>
		  renovate.office@gmail.com
		</address>
	</div>
  	<div class="col-md-6" ng-app="Renovate" ng-controller="ContactsController">
		<form ng-submit="contactUs()">
			<h3>Зв’яжіться з нами</h3>
			<div class="form-group">
			    <input type="text" class="form-control" ng-model="message.pip" placeholder="П.І.П." required>
			</div>
			<div class="form-group">
			    <input type="email" class="form-control" ng-model="message.email" placeholder="Ваш e-mail..." required>
			</div>
			<div class="form-group">
			    <select class="form-control" ng-model="message.topic">
				  <option value="Заявка на реєстрацію">Заявка на реєстрацію</option>
				  <option value="Подяка">Подяка</option>
				  <option value="Пропозиція">Пропозиція</option>
				  <option value="Скарга">Скарга</option>
				  <option value="Інше">Інше</option>
				</select>
			</div>
			<div class="form-group">
			    <textarea class="form-control" rows="3" ng-model="message.text" placeholder="Текст повідомлення..."></textarea>
			</div>
			<button type="submit" class="btn btn-info" ng-class="{disabled: sendButtonDisabled}">Написати</button>
			
			<div id="messageSent" style="margin-top: 10px; display:none;" class="alert alert-success alert-dismissible" role="alert">Ваш лист успішно надіслано!</div>
			
		</form>
	</div>
</div>

<div id="map-canvas"></div>
	
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('bundles/renovate/js/googleMapInitialization.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/renovate/js/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/renovate/js/angularInitialization.js') }}"></script>
<script src="{{ asset('bundles/renovate/js/angularContactsController.js') }}"></script>
{% endblock %}