{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}
{% if page and page.title != '' %}{{page.title}}{% else %}Контакти{% endif %}
{% endblock %}

{% block keywords %}
	{% if page and page.keywords != '' %}
		<meta name="keywords" content="{{page.keywords}}">
	{% endif %}
{% endblock %}

{% block description %}
	{% if page and page.description != '' %}
		<meta name="description" content="{{page.description}}">
	{% endif %}
{% endblock %}

{% block head %}
<link href="{{ asset('bundles/renovate/css/contacts.css') }}" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li class="active">Контакти</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="cantacts-block">
		  		{% if page %}
				{{ page.content | raw }}
				{% endif %}
		</div>
	
		<ul class="social-link">
        	<li class="twitter"><a href="http://vk.com/renovate"><i class="fa fa-vk"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com/renovate.in.ua"><i class="fa fa-facebook"></i></a></li>
            <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
	</div>
  	<div class="col-md-6" ng-controller="ContactsController">
		<form ng-submit="contactUs()">
			<h3>Зв’яжіться з нами</h3>
			<div class="form-group">
			    <input type="text" class="form-control" ng-model="message.pip" placeholder="П.І.П." required>
			</div>
			<div class="form-group">
			    <input type="email" class="form-control" ng-model="message.email" placeholder="Ваш e-mail..." required>
			</div>
			<div class="form-group">
			    <select class="form-control" ng-model="message.topic">
				  <option value="Заявка на реєстрацію">Заявка на реєстрацію</option>
				  <option value="Подяка">Подяка</option>
				  <option value="Пропозиція">Пропозиція</option>
				  <option value="Скарга">Скарга</option>
				  <option value="Інше">Інше</option>
				</select>
			</div>
			<div class="form-group">
			    <textarea class="form-control" rows="3" ng-model="message.text" placeholder="Текст повідомлення..."></textarea>
			</div>
			<button style="margin-bottom:10px;" type="submit" class="btn btn-info" ng-class="{disabled: sendButtonDisabled}">Написати</button>
			<alert ng-repeat="alert in alerts" type="[[alert.type]]" close="closeAlert($index)">[[alert.msg]]</alert>
		</form>
	</div>
</div>

<div id="map-canvas"></div>
	
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('bundles/renovate/js/googleMapInitialization.js') }}"></script>
<script src="{{ asset('bundles/renovate/js/angularContactsController.js') }}"></script>
{% endblock %}