{% extends "OrdisMainBundle::layout.html.twig" %}

{% block title %}Головна{% endblock %}

{% block head %}
<link type="text/css" href="{{ asset('bundles/ordis/css/mscarousel.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ asset('bundles/ordis/css/slick.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<iframe width="100%" height="315" src="//www.youtube.com/embed/QXsa--GtCJo" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="mainGallery">
		  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bigtable">
		    <tr>
		      <td align="center" valign="middle" class="left"><a href="javascript:void(0)" id="imgLeftBig" class="nextPreviousBig previousBig">Previous</a></td>
		      <td class="middleContent borderLR"><div id="carouselBig">
		          <div class="set">
		            <div class="imgCaption">
		              <h2>The Bird</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_0143.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Between the train</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_0213.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Drink Responsibility</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_1834.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>The demon clouds</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_2703.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Demon Clouds</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_2704.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Crossing the path</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_2721.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>The Flood</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_2731.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Real Net</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_2749.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Real Web Developer</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_2751.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Hidden Truth</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_2771.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		          <div class="set">
		            <div class="imgCaption">
		              <h2>Flower</h2>
		              <h5>Marghoob Suleman | April 17, 2010</h5>
		              <p class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		            </div>
		            <div class="imgImage"><img src="../bundles/ordis/images/gallery/DSC_3481.jpg" width="550" height="369" /></div>
		            <div class="clear"></div>
		          </div>
		        </div></td>
		      <td align="center" class="right"><a href="javascript:void(0)" id="imgRightBig" class="nextPreviousBig nextBig">Next</a></td>
		    </tr>
		    <tr>
		      <td align="center" valign="middle" class="left footer"><a href="javascript:void(0)" id="imgLeftThumb" class="nextPrevious previous">Previous</a></td>
		      <td class="footer middleContent"><div>
		          <ul id="carouselThumb" class="gallerythumb" style="padding-left:2px;padding-right:10px">
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_0143.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_0213.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_1834.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_2703.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_2704.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_2721.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_2731.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_2749.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_2751.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_2771.jpg" /></li>
		            <li><img src="../bundles/ordis/images/gallery/thumbs/DSC_3481.jpg" /></li>
		          </ul>
		        </div></td>
		      <td class="right footer" style="text-align:left"><a href="javascript:void(0)" id="imgRightThumb" class="nextPrevious next">Next</a></td>
		    </tr>
		  </table>
		</div>
	</div>
</div>	
<div class="row" style="margin-top:20px;">
	<div class="col-md-11">
		<div class="partners">
		  <div><img width="261" height="261" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTyqOvQZcGOSlnNa5r6SEfMQpHCRt2Xf9TV3I0PjRPR8M2TCSjNzg"/></div>
		  <div><img width="261" height="261" src="http://www.sexyli.com/wp-content/uploads/2013/05/Green-Snake-Image-Wallpaper.jpg"/></div>
		  <div><img width="261" height="261" src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg"/></div>
		  <div><img width="261" height="261" src="http://belaumi.com/wp-content/uploads/2014/11/3D-Animated-Frog-Image.jpg"/></div>
		  <div><img width="261" height="261" src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg"/></div>
		  <div><img width="261" height="261" src="http://t0.gstatic.com/images?q=tbn:ANd9GcTl_vMH-CoyzvsPLVnn_7nWseR410LhlO89SAifVmrCGlkT5mweQQ"/></div>
		  <div><img width="261" height="261" src="http://t2.gstatic.com/images?q=tbn:ANd9GcSNTX9WjGtHBj3E-s1-hmWEIpD_clcChBhVmRGfBJpZgsBh4WdT"/></div>
		  <div><img width="261" height="261" src="http://t3.gstatic.com/images?q=tbn:ANd9GcQpW_T1mJfFPAHnkNx8rUtHPVo6QRSoS3h7KFoPXme7OMJoMuMz"/></div>
		</div>
	</div>
</div>
{% endblock %} 

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/ordis/js/jquery.msCarousel-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ordis/js/msCarouselInitialization.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ordis/js/slick.js') }}"></script>
<script>
$(document).ready(function(){
	$('.partners').slick({
		slidesToShow: 4,
		slidesToScroll: 4,
		autoplay: true,
		variableWidth: true
	});
});
</script>
{% endblock %}