{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Менеджмент файлів{% endblock %}

{% block head %}
<link href="{{ asset('web/bundles/renovate/css/uploadify.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li class="active">Менеджмент файлів</li>
</ol>
{% endblock %}

{% block content %}
<div ng-controller="DocumentsController">
	<div class="row">
		<div class="col-md-12">
			<h4>Дозволені розширення: <b>{{ availableTypes }}</b></h4>
			<input type="file" name="file_upload" id="file_upload" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="itemsPerPage" class="col-sm-8 control-label">Показувати на сторінці</label>
			    <div class="col-sm-3">
			      	<select id="itemsPerPage" class="form-control" ng-model="itemsPerPage">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					  <option>10</option>
					  <option>25</option>
					  <option>50</option>
					  <option>100</option>
					</select>
			    </div>
			  </div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
		</div>
	</div>
	<div id="documents" class="row">
		<div class="splash" ng-cloak>
			<div class="image center-block"></div>
		</div>
		<div class="col-sm-6 col-md-4" ng-repeat="document in documents" ng-cloak>
			<div class="thumbnail">
      			<a href="{{ asset('[[document.url]]') }}" download><img src="{{ asset('[[document.url]]') }}" alt="[[document.name]]"></a>
      			<div class="caption">
        			<p><strong>[[document.name]]</strong></p>
        			<p><strong>Завантажено: </strong>[[document.uploaded | date:"dd.MM.yyyy HH:mm:ss"]]<button ng-click="removeDocument(document)" type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button></p>
        		</div>
    		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
		</div>
	</div>
</div>
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('web/bundles/renovate/js/jquery.uploadify.min.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angularDocumentsController.js') }}"></script>
<script>
var TIMESTAMP = '{{ timestamp }}';
var TOKEN = '{{ token }}';
</script>
{% endblock %}