{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}{{article.name}}{% endblock %}
{% block description %}<meta name="description" content="{{article.description}}">{% endblock %}
{% block head %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li><a href="{{path('renovate_articles')}}">Статті</a></li>
 	<li class="active">{{article.name}}</li>
</ol>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
  				<h2>{{article.name}}</h2><hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="data-content">
				<div class="col-md-4">
					<img src="{{asset(article.document.path)}}" alt="{{article.name}}" class="img-thumbnail">
				</div>
				<div class="text-justify">{{article.description | raw}}</div>
			</div>
		</div>
	</div>
{% endblock %} 

{% block javascripts %}
{% endblock %}