{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Головна{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div ng-app="Renovate">
	<div class="row">
		<div class="col-md-8" ng-controller="BlockResultsController">
			<div class="results-for">
			  <div ng-repeat="result in results"><img src="{{ asset('[[result.label.url || result.document.url]]') }}"/><div class="description"><h3>[[result.name]]</h3><p>[[result.description | ellipsis:500]]</p><a class="btn btn-gray btn-xs" href="[[result.href]]" ng-init="setItemDirectHref(result)">Детальніше</a></div></div>
			</div>
			<div class="results-nav">
			  <div ng-repeat="result in results"><img src="{{ asset('[[result.label.url || result.document.url]]') }}"/></div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="block-last-news" ng-controller="BlockLastNewsController">
				<div class="media" ng-repeat="newsp in news">
				  <a class="media-left" href="[[newsp.href]]" ng-init="setItemDirectHref(newsp)">
				    <img src="{{ asset('[[newsp.label.url || newsp.document.url]]') }}" alt="[[newsp.name]]">
				  </a>
				  <div class="media-body">
				    <p class="title">[[newsp.name | ellipsis:30]]</p>
				    <p class="description" ng-bind-html="newsp.description | ellipsis:100"></p>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<iframe width="100%" height="400" src="//www.youtube-nocookie.com/embed/2RyjBi6JF0Q" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="row" style="margin-top:10px;" ng-controller="BlockJobsController">
		<div class="col-md-12">
			<div class="jobs-slider">
				  <div ng-repeat="job in jobs"><div class="thumbnail"><a href="[[job.href]]" ng-init="setItemDirectHref(job)"><img src="{{ asset('[[job.label.url || job.document.url]]') }}" alt="[[job.name]]"></a><div class="caption"><h4>[[job.name]]</h4><p>[[job.description | ellipsis:300]]</p></div></div></div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('web/bundles/renovate/js/underscore-min.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angular.min.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/ui-bootstrap-tpls-0.12.0.min.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angular-sanitize.min.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angularInitialization.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angularNewsController.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angularJobsController.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angularResultsController.js') }}"></script>
{% endblock %}